# Lecture 5 Assignment
# Python Lists and Tuples
___

## Purpose

- Create lists
- Create tuples
- Access individual objects in lists and tuples
- List and tuple slicing
- Learn about list methods
- Use select list methods

**Create a list**

Try it for yourself in the following code cell. Create a list of 10 items that has a mix of object types; including integers, floats, and strings.

**Create a tuple**

Try it for yourself in the following code cell. Create a tuple of 5 items that has a mix of object types; including integers, floats, and strings.

**Use `range()`**

- Print `range(8)`
- Print `range(8)` after converting it to a list

**Using `range()` and `list()` together**

In the provided code cells use `range()` together with `list()` to create the following lists

1. All integers from $0$ to $6$, including $6$
1. All integers from $10$ to $3$ inclusive, starting with $10$ (think of the step size)
1. Every third integer from $1$ to $21$, including $21$

In [ ]:
# all integers from 0 to 6 inclusive

In [ ]:
# all integers from 10 to 3 inclusive, starting with 10

In [ ]:
# every third integer from 1 to 21, including 21

**Some list functions**

- In the first code cell manually create a numeric list called `number_list` that contains a mix of integers and floats and has more than 10 values
- In the remaining cells use functions to find...
    - the number of values in the list
    - the sum of all the items in the list
    - the maximum value in the list
    - the minimum value in the list

In [ ]:
# your list

In [ ]:
# number of values in number_list

In [ ]:
# sum of the values in number_list

In [ ]:
# maximum value in number_list

In [ ]:
# minimum value in number_list

**List Indexing Guide**

```
| 0 | 1 | 2 | 3 | 4 | 5 | 6 | <-- Indexing from the left; my_list[3] = 5
|===|===|===|===|===|===|===|
| 8 | 6 | 7 | 5 | 3 | 0 | 9 | <-- my_list
|===|===|===|===|===|===|===|
|-7 |-6 |-5 |-4 |-3 |-2 |-1 | <-- Indexing from the right; my_list[-3] = 3
```

**List Slicing Guide** 

```
 0   1   2   3   4   5   6   7 <-- Slicing from the left; my_list[1:4] = [6, 7, 5]
 |===|===|===|===|===|===|===|
 | 8 | 6 | 7 | 5 | 3 | 0 | 9 | <-- my_list
 |===|===|===|===|===|===|===|
-7  -6  -5  -4  -3  -2  -1   | <-- Slicing from the right with positive step; my_list[-5:-2] = [7, 5, 3]
 |   |   |   |   |   |   |   |
-8  -7  -6  -5  -4  -3  -2  -1 <-- Slicing from the right with negative step; my_list[-3:-7:-1] = [3, 5, 7, 6]
```

**Use string indexing**

Use string indexing to access each of the following items your `number_list`

1. value in the 9th index position (the 10th value when counting starting with 1)
1. Second to last value using negative indexing
1. 3rd to 7th indexes
1. Last 4 values
1. Every other value
1. All of the values without using any numbers in your slice

In [ ]:
# 9th index (10th value)

In [ ]:
# second to last value using negative indexing

In [ ]:
# 3rd to 7th indexes

In [ ]:
# last 4 values

In [ ]:
# every other

In [ ]:
# all values without any numbers in the slice

**Modify a list**

- Change the 7th index of your `number_list` to $42$
- Replace the last $3$ values by slicing from the right with `[8, 6, 7]`

In [ ]:
# 7th index value to 42

In [ ]:
# last 3 values with [8, 6, 7] by slicing from the right

**Print list methods**

- Execute the expression `print(dir(list))` in the following cell.

**Use methods for modifying lists**

1. In the first provided code cell create your own list named `listy_list` that consists of at least 10 numeric objects. 
2. Use each of the following list modification methods (in the order given) on your list. After using each method, print the list (this code is already provided) in the same cell to see what it looks like after the modification.

  - `.append()` with the value 1000
  - `.extend()` with the list `[98, 99, 100]`
  - `.insert()` 42 in the 5th index position
  - `.pop()` the last value
  - `.remove()` 1000 from the list
  - `.clear()`

In [ ]:
listy_list =[]

In [ ]:
# append with the value 1000

print(listy_list)

In [ ]:
# extend with the list [98, 99, 100]

print(listy_list)

In [ ]:
# insert 42 in the 5th index position

print(listy_list)

In [ ]:
# pop the last value

print(listy_list)

In [ ]:
# remove 1000 from the list

print(listy_list)

In [ ]:
# clear

print(listy_list)

**Use list methods for searching, counting, and sorting**

Using your `number_list` perform the following tasks and print the list (code provided) after each step

1. Find the location of `42`
1. Count the number of times `8` appears
1. Check to see if `12` is in your list using the `in` statement
1. Reverse the order of the list
1. Sort the list in ascending order

In [ ]:
# where is 42

print(number_list)

In [ ]:
# how many 8s

print(number_list)

In [ ]:
# is 12 in the list

print(number_list)

In [ ]:
# reverse the list order

print(number_list)

In [ ]:
# sort the list in ascending order

print(number_list)

In [ ]:
from tabulate import tabulate

**Print some lists as a table**

Create two lists named `list_a` and `list_b`. Use the `range()` function to create `list_a` with the values `0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100`. Fill `list_b` with ten random integers between 0 and 100 (refer to the following example).

```python
import random
random.sample(range(101),10)
```

Zip together the two lists and create a fancy table with the headings `tens` and `random`. Center the numbers in the table.

In [ ]:
import random

In [ ]:
# use range(), 0 to 100 (inclusive) in steps of 10
list_a =

In [ ]:
# use random.sample() like shown above
list_b =

In [ ]:
# zip together lists

In [ ]:
# create a list of headers

In [ ]:
# print the table

**Using `.split()` and `.join()`**

After completing each task, `print()` or display the result
 
- Assign the string `My name is Brian` to a variable called `name` in the first cell below this one and execute the cell.
- In the next cell, use the `.split()` method without any arguments on `name` and assign the result to `name_list`.
- Then replace the last item in `name_list` with your first name.
- Finally, use the `.join()` method as shown below to make the list a single string again and assign it back to `name`.

```python
    name = " ".join(name_list)
```

**Wrap it up**

Click on the **Save** button and then the **Close and halt** button when you are done before closing the tab.